<div class="hero-unit">
  <h1>Invitation</h1>
  <p>朋友找你PK，你以為有說不的權利嗎？</p>
</div>

<div ng-repeat="(key, game) in invitedList">
	<div class="row">
		<div class="span">
			<img ng-src="https://graph.facebook.com/{{game.creator.user_fb_id}}/picture?type=large" />
		</div>
		<div class="span9">
			<h3>{{game.creator.name}} invite you to join <strong>{{game.name}}</strong></h3>
			<!--p>Period：</p-->
			<p>Member({{game.people.length}}): 
				<img ng-repeat="(i, people) in game.people" ng-src="https://graph.facebook.com/{{ people.user_fb_id }}/picture" alt="{{people.name}}" />
			</p>
			<p>Played({{game.done.length}}):
				<img ng-repeat="(i, people) in game.done" ng-src="https://graph.facebook.com/{{ people.user_fb_id }}/picture" alt="{{people.name}}" />
			</p>
			<p><button class="btn btn-primary" ng:click="gotogame(key)">Accept</button></p>
		</div>
	</div>
	<hr>
</div>